/*body styles*/
body,html{
    height: 100%;
    margin: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}
.background{
    /*image used*/
    background-image: url("computer.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Title styles*/
.title{
    text-align: center;
    color: white;
}

/*Navbar styles*/
.navbar {
    overflow: hidden;
    background-color: #C8CBCC;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #E3E7E8;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 2;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


 /*frame style*/
 iframe{
    position: absolute;
    overflow-x: hidden;
    z-index: 0;
    height: 100%;
    width: 100%; 
 }

/*Contact Modal Window styling*/
* { box-sizing: border-box; }

#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm { 
  display: none;
  border: 6px solid rgb(71, 162, 247); 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  z-index: 99999;
  box-shadow: 0px 30px 30px 0px;
}
input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }
.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: rgb(195, 197, 197);
  /*color: #fff;*/
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

/*Close button on modal*/
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Welcome modal*/
.welcome{
    display: block;
    border: 1px solid black; 
    padding: 2em;
    width: 500px;
    text-align: center;
    background: #E1F4FA;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 99999;
    box-shadow: 0px 30px 30px 0px;
}

/*About modal*/
.aboutWindow{
    display: none;
    border: 1px solid black; 
    padding: 2em;
    width: 500px;
    text-align: center;
    background: #E1F4FA;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 99999;
    box-shadow: 0px 30px 30px 0px;
}
